.Ancient {
    background-color: blue;
}
#crkBg{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.loadingImg {
  position: relative;
  z-index: 1;
  margin-top: 50%;
  background-color: rgb(103, 177, 88);
  border-radius: 20px;
  padding: 2vh;
}
a {
  list-style-type: none;
  text-decoration: none;
  color: white
}
body {
  font-family: "new-rubrik-edge", sans-serif;
font-weight: 700;
font-style: normal;
}
.btn {
  font-family: "neue-kabel", sans-serif;
font-weight: 700;
font-style: normal;
}
.navbar {
  background-color: #f8da94;
}